<%= form_for(@process_element) do |f| %>
  <% if @process_element.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@process_element.errors.count, "error") %> prohibited this process_element from being saved:</h2>

      <ul>
      <% @process_element.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :process_unit_id %><br />
    <%= f.text_field :process_unit_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
