<h1>Listing process_elements</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Role</th>
    <th>Process unit</th>
    <th>Function name</th>
    <th>Function parameters</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @process_elements.each do |process_element| %>
  <tr>
    <td><%= process_element.name %></td>
    <td><%= process_element.description %></td>
    <td><%= process_element.role %></td>
    <td><%= process_element.process_unit_id %></td>
    <td><%= process_element.function_name %></td>
    <td><%= process_element.function_parameters %></td>
    <td><%= link_to 'Show', process_element %></td>
    <td><%= link_to 'Edit', edit_process_element_path(process_element) %></td>
    <td><%= link_to 'Destroy', process_element, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Process element', new_process_element_path %>
