<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @process_element.name %>
</p>

<p>
  <b>Description:</b>
  <%= @process_element.description %>
</p>

<p>
  <b>Role:</b>
  <%= @process_element.role %>
</p>

<p>
  <b>Process unit:</b>
  <%= @process_element.process_unit_id %>
</p>

<p>
  <b>Function name:</b>
  <%= @process_element.function_name %>
</p>

<p>
  <b>Function parameters:</b>
  <%= @process_element.function_parameters %>
</p>


<%= link_to 'Edit', edit_process_element_path(@process_element) %> |
<%= link_to 'Back', process_elements_path %>
