<h1>Listing unit_relationships</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Parent unit</th>
    <th>Child unit</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @unit_relationships.each do |unit_relationship| %>
  <tr>
    <td><%= unit_relationship.id %></td>
    <td><%= unit_relationship.parent_unit_id %></td>
    <td><%= unit_relationship.child_unit_id %></td>
    <td><%= link_to 'Show', unit_relationship %></td>
    <td><%= link_to 'Edit', edit_unit_relationship_path(unit_relationship) %></td>
    <td><%= link_to 'Destroy', unit_relationship, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Unit relationship', new_unit_relationship_path %>
