<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @unit_relationship.id %>
</p>

<p>
  <b>Parent unit:</b>
  <%= @unit_relationship.parent_unit_id %>
</p>

<p>
  <b>Child unit:</b>
  <%= @unit_relationship.child_unit_id %>
</p>


<%= link_to 'Edit', edit_unit_relationship_path(@unit_relationship) %> |
<%= link_to 'Back', unit_relationships_path %>
